// Basic
$white: #ffffff;
$primary: #1847ED;
$secondary: #f72585;
$success: #2BC128;
$info: #0288d1;
$warning: #FFB119;
$help: #9c27b0;
$danger: #FB2047;
$default:#F7F7FA;
$text: #717171;
$textDark: #1B1C1E;
$textDisabled: #A0A2AE;

$disabled: #F0F2F6;
$error: #FB2047;

// Neutral
$neutral100: #1E202C;
$neutral90: #313545;
$neutral80: #454A5F;
$neutral70: #5B6178;
$neutral60: #737992;
$neutral50: #8C92AB;
$neutral40: #A6ACC4;
$neutral30: #C1C7DE;
$neutral20: #D9DDEA;
$neutral10: #F0F2F6;


// Blue
$blue100: #021964;
$blue90: #061F6F;
$blue80: #001E87;
$blue70: #0025A9;
$blue60: #0833CB;
$blue50: #1847ED;
$blue40: #4D74FF;
$blue30: #819CFF;
$blue20: #B4C5FF;
$blue10: #E8EDFF;


// Purple
$purple100: #280363;
$purple90: #2B1077;
$purple80: #3C1C99;
$purple70: #502ABB;
$purple60: #663CDD;
$purple50: #7E51FF;
$purple40: #9B78FF;
$purple30: #B89FFF;
$purple20: #D5C6FF;
$purple10: #F2EDFF;

// Red
$red100: #580010;
$red90: #800017;
$red80: #A9001E;
$red70: #D2092D;
$red60: #FB2047;
$red50: #FF4869;
$red40: #FF708A;
$red30: #FF98AB;
$red20: #FFC0CC;
$red10: #FFE8EC;


// Green
$green100: #045B03;
$green90: #0D7D0B;
$green80: #1A9F18;
$green70: #2BC128;
$green60: #40E33D;
$green50: #57FF54;
$green40: #7DFF7A;
$green30: #A2FFA1;
$green20: #C8FFC7;
$green10: #EEFFEE;

