$white: #ffffff;
$primary: #0096c7;
$secondary: #f72585;
$success: #007f5f;
$info: #0288d1;
$warning: #ff9914;
$help: #9c27b0;
$danger: #f21b3f;
$default:#F7F7FA;
$text: #717171;
$textDark: #1B1C1E;
$textDisabled: #A0A2AE;